html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Khorla';
  src: url('/fonts/Khorla.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Forrest';
  src: url('/fonts/Forrest.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .sideMenuItem {
    background: linear-gradient(90deg, theme('colors.matcha.200') 0%, theme('colors.matcha.500') 100%);
  }
}
